.Contador input{
    font-size: 1.4rem;
    width: 100px;
    border-radius: 10px;
    border: #ff0080 solid 1px;
    text-align: center;
}

.Contador button{
    margin: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ff0080;
    color: white;
    font-size: 1.4rem;
}